/* lato from google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


/* variables */
:root {
    --dark-blue: #0b224b;
    --darkenblue: #000e26;
    --light-orange: #ec8600;
    --black: #070707;
    --orange: #c86100;
    --white: #ffffff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px; 
}
/* end variables */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
  }
 
ol,
ul{
  /* margin-top: 0;
  margin-bottom: 1rem; */
}

.row{ 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container{
    margin: 0 auto;
    max-width: 800px;
}

/* Header */
.top-nav{
    background: var(--white);
}

.container>.brand>h2{
    color: var(--dark-blue);
    padding: 0;
}

description>.brand>h2{
    padding-bottom: 5px;
}

.container>.brand>p{
    color: var(--orange);
    padding: 0px;
    margin: 0;
    font-size: 12px;
    line-height: 1px
}

.brand{
    text-transform: uppercase;
    /* padding-bottom: 40px; */
}

.navbar>.container>ul>li:first-child{
    padding-left: 0px;
}

.top-nav>.container{
    padding: 72px 0px;
    padding-top: 25px;
}

.top-nav>.container>.callus{
    font-size: 15px;
    padding-bottom: 0px;
}

.top-nav>.container>.callus>p>span{
    color: var(--orange);
}

.top-nav>.container>.callus>p{
    padding-top: 9px;
}

header{
    width: 100%;
    min-height: 60px;
}

header>.container>.brand{
    float: left;
}

header>.container>.callus{
    float: right;
}

/* End Header */

/* navbar */

.navbar>.container>ul{
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%; 
    background: var(--dark-blue);
}

.navbar>.container>ul>li>a{
    color: var(--white);
    text-decoration: none;
}

.navbar>.container>ul>li{
    display: inline-block;
    padding: 11.5px 7px;
    font-size: 14px;
}
/* end navbar */

/* starts banner */
.banner{
    width: 100%; 
    background: var(--darkenblue);   
}
/* end banner */

.btn{
    background: var(--orange);
    padding: 20px 20px;
    float: right;
    margin-top: -13px;
    color: var(--black);
    transition: all 0.5s ease;
}

.btn:hover{
    background: orange; 
}

.btn-contact{
    background: var(--orange);
    padding: 20px 20px; 
    /* margin-top: -13px; */
    color: var(--black);
    transition: all 0.5s ease-in;   
}

.btn-contact:hover{
    background: orange;
}

label{
    color: var(--white) !important;
}

textarea,
select[multiple].input-lg {
  height: auto;
}
 

.banner>.container{
    padding: 34px 0px;
}

.banner>.container>h2{ 
    display: inline;
    color: var(--white);
    text-transform: uppercase;
}

#content > .container{ 
    display: grid;
    grid-template-areas: "content content sidebar";
    grid-gap: 10px;
    grid-template-columns: 61.1%;
    padding-top: 45px;
}

.body-text{
    grid-area: content;
}

.aside{
    grid-area: sidebar;
}

/* start content-section */
.main-text>h2{
    color: var(--dark-blue); 
}

.main-text{
    font-family: 'Lato', sans-serif !important;
}

.sub-text{
    font-family: 'Lato', sans-serif !important;
}

.sub-text>ul>li{
    list-style-type: square;
}
/* end content-section */

/* contact-section */
#contact-section{
    background: var(--dark-blue);
    position: relative;
    height: 500px;
    margin: 200px 0px;
    margin-bottom: 0px;
}

.description>.barnd>h2{
    padding: 0px 0px;
    font-size: 30px;
}

.tag{
    font-size: 28px;
    line-height: 1;
    text-align: center;
    padding-bottom: 25px;
}

.layer{
    padding-top: 50px;
}

.layer>label{
    color: var(--white);
}

.layer>h2{
    padding-bottom: 30px;
    color: white;
}

#contact-section>.container{ 
    display: grid;  
    grid-template-areas: "form cdetail";
    grid-gap: 10px;
    grid-template-columns: 50%;
}

.layer>h2{
    
    font-family: 'Lato', sans-serif !important;
}

.layer>label{
    font-family: 'Lato', sans-serif !important;
    
}

.container>.image-form>.form-group{
    grid-area: form;
    position: relative;
    z-index: 1;
}

.container>.description{
    grid-area: cdetail;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: white;
}

.brand>h5{
    margin: -22px 0px;
    /* margin: -8px 0px; */
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--orange);
}

.bg-image{
    background-repeat: no-repeat;
    background-position: center !important;
    position: absolute;
    width: 50vw;
    height: 500px;
    top: 0;
    left: 0;
    z-index: 1;
    background: url("/images/placeholder-image.jpg");
}

/* End contact-section */
/* #content{
    padding: 35px 0px;
} */

/* company-address */
#company-address{   
    padding: 55px 0px;
    text-align: center;
}


#company-address>.container>a{
    color: var(--black);
    font-size: 14px;
}

#company-address>.container>h6{
    padding: 5px 3px;
}

#company-address>.container>p>span{
    font-size: 16px;
    font-family: 'Lato', sans-serif !important;
    
}
/* end company-address */


h2{
    padding: 16px 0px 14px 0px;
}

h3{
    padding:0px;
}

ul>.side-list{
    font-family: 'Lato', sans-serif !important;
}

ul>.side-items>a{
    text-decoration: underline !important;
}

h3{
    color: var(--dark-blue);
}

.sub-title{
    color: var(--dark-blue);

}

/* side bar  */
.aside>.sidebar{
    border: 1px var(--dark-blue) solid;
    border-radius: 4px;
}

.sidebar-heading{
    background: linear-gradient(var(--dark-blue), var(--darkenblue));
    color: var(--white);
    padding:2rem 2rem;
    font-family: 'Lato', sans-serif !important;
    color: white;
    padding-right: 45px;
}

.sidebar-heading>h3{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

.sidebar-body{
    background: var(--dark-blue);
    color: var(--white);
}

.back>.sidebar-heading{
    background: var(--orange);
}

.back>.sidebar-body{
    background: linear-gradient(var(--dark-blue), var(--darkenblue));    
}

.back>.sidebar-body>.side-list>.side-items>a{
    font-size: 14px;
    color: var(--orange);
}

/* side bar */
ul{
    margin-left: 27px;
    padding: 20px 0px;
}

ul>li{
    list-style-type: none;
    /* color: var(--white) */

}

ul>li>a{
    color: #eeeeee;
    text-decoration: none;
    padding: 4px 0px;

}

/* panel-box */

.panel-box{
    border: 1px solid #eeeeee;
    background: #eeeeee;
    padding: 10px 27px;
    margin: 10px 0px;
}

.panel-heading>h2{
    color: var(--dark-blue);
    padding: 0;
}

#contact-section>#company-address{
    background: var(--white);
    /* height: 130px; */
}

#contact-section>#company-address>.container{
    text-align: center;
    padding: 33px 0px;
}

footer{
    background: var(--dark-blue);
}

footer>.container>p{
    font-size: 14px;
}

footer>.container>p>a{
    color: var(--white);
}

footer>.container>p{
    margin: 0 auto;
    color: var(--white);
    text-align: center;
    padding: 20px 0px;
}

@media(max-width:900px){

    .container{
        width: 90%;
    }
}

@media(max-width:790px){

    .layer>h2{
        color: black;
    }

    .layer>label{
        color: var(--black) !important;
    }

    #contact-section>.container{
        display: block;
    }

    .bg-image{
        width: 100vw;
    }

    #contact-section{
        height: 850px;
    }

    .container>.description{
        padding-top: 100px;
        padding-left: 0px;
    }

    .banner>.container>h2{
        display: block;
    }

    .btn{
        float: none;
        margin: 0 auto;
    }

    #content > .container{
        display: block;

    }
    
    .aside{
        margin-top: 20px;
    }

    #contact-section>.split{
        display: block;
    } 

    .form-control{
        width: 100% !important;
    }

    .form-group>.checkbox{
        width: 65% !important;
        padding: 0px 4px !important;
    }

    .form-group:last-child{
        display: flex !important;
    }

    .checkbox1{
        padding: 0px 0px;
    }

    form>.flex{
        display: flex !important;
    }

    #contact-section{
        height: auto;
    }

}

@media(max-width:880px){
    .flip-container, .front, .back{
        width: auto !important;
    }
}
@media(max-width:380px){
    .callus{
        float: left !important;
        padding: 3px 0px;
    }
}
/* flipper */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
    }
    
    .flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
	width: 290px;
	height: 640px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


/* End flipper */

.form-control {
    display: block;
    width: 80%;
    height: 34px;
    padding: 0px 12px;
    font-size: 14px;  
    background-color: #fff; 
    border: 1px solid #ccc;
  }
  .form-control:focus {
    border-color: var(--orange);
    outline: 0; 
  }

textarea{
    
    padding: 3px 2px !important;
    height: auto !important;
}
.form-group .form-control {
    margin-bottom:15px;
}
